REACT_APP_SERVER_URL="http://localhost:3030"
REACT_APP_FRONTEND="http://localhost:3000"
REACT_APP_PROJECT_NAME="caamFlightManagement"
REACT_APP_PROJECT_LABEL="CAAM Flight Management"
REACT_APP_PROJECT_ID="6a03d485cd932e484d31c292"
REACT_APP_LAST_UPDATED="13/05/2026"
REACT_APP_SECRETKEY="76ef4231690a0e035c0f5e4ac9cb64f237ebd4bac2fe1c9d0ee744247e688daf"
REACT_APP_EMAIL_DOMAIN="example.com"
REACT_APP_USE_USER_INVITE_SIGNUP=true
REACT_APP_ENV=dev
REACT_APP_DATE="dd/MM/yyyy"
REACT_APP_TIME="hh:mm:ss"
REACT_APP_LANGUAGE="en_MY"
REACT_APP_CURRENCY="MYR"
REACT_APP_COUNTRY="MY"
